<section
  class="item"
  [ngClass]="{
    'item-dark': themeService.isDark,
    'item-completed': item?.completed,
    'item-selected': item?.id === itemId
  }">
  <article class="item-content">
    <div class="item-content-header">
      <div class="item-content-header-text-container">
        <mat-checkbox color="#15C771" (click)="changeTaskStatus(item?.id)" [checked]="item?.completed"></mat-checkbox>
        <div class="item-content-header-text">
          <p class="item-content-header-text-title">{{ item?.title }}</p>
          <p class="item-content-header-text-description">{{ item?.description }}</p>
        </div>
      </div>

      <button class="item-content-header-edit" (click)="openModalWindow(modalWindowName.editTask)">
        <img
          [src]="themeService.isDark ? '../../../../assets/edit-white.svg' : '../../../../assets/edit.svg'"
          alt="edit-button'" />
      </button>
    </div>

    <div class="item-content-devider"></div>
    <div class="item-content-info">
      <p class="item-content-info__component item-content-info-date">
        Due Date <span class="format-date">{{ formatDateFormItem }}</span>
      </p>
      <ul class="item-content-info-tags">
        <li *ngFor="let tag of item?.tags" class="item-content-info-tags__component">{{ tag.name }}</li>
      </ul>
    </div>
  </article>
</section>
