<div class="modal">
  <div class="modal-body">
    <div class="modal-body-header">
      <button class="modal-body-header-button" (click)="dialogRef.close() " (keydown.enter)="$event.preventDefault()">
        <img src="./assets/close.svg" alt="close-button"/>
      </button>
    </div>
    <div class="modal-body-content">
      <ng-container *ngIf="data.name === 'newList'">
        <app-new-list [dialog]="dialogRef"></app-new-list>
      </ng-container>
      <ng-container *ngIf="data.name === 'newItem'">
        <app-new-item [dialog]="dialogRef"></app-new-item>
      </ng-container>
    </div>
  </div>
</div>
<div class="modal-background"></div>
