<ng-container *ngIf="todoList | async as todos">
  <ul class="list" [ngClass]="{ 'list-dark': themeService.isDark }">
    <ng-container *ngFor="let todo of todos">
      <li class="list__component" [routerLink]="['', todo.id]" routerLinkActive="list__component-active">
        <div class="list__component-color" [ngStyle]="{ 'background-color': todo.color }"></div>
        <p class="list__component-title">{{ todo.title }}</p>
        <app-items-amount [todo]="todo"></app-items-amount>
      </li>
    </ng-container>
  </ul>
</ng-container>
