@use './src/app/style/colors' as c;
@use './src/app/style/sizes' as s;
@use './src/app/style/typography' as t;
.list {
  &__component {
    padding: 8px 12px 8px 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: t.text-weight(bolder);

    &:not(:first-child) {
      margin-top: 24px;
    }

    &-color {
      flex-shrink: 0;
      width: 16px;
      height: 16px;
      border-radius: 4px;
    }

    &-title {
      margin-left: 16px;
      font-size: t.text(m);
      width: 154px;
    }

    &-amount {
      margin-left: 16px;
      font-size: t.text(m);
    }

    &-active,
    &:hover {
      background-color: c.colors(element-active);
      border-radius: 8px;
      font-weight: t.text-weight(bold);
    }
  }
}
.list-dark {
  & .list__component {
    color: c.colors(font, true);
  }
  & .list__component-active,
  .list__component:hover {
    color: c.colors(font, true);
    border-radius: 8px;
    background-color: c.colors(element-active, true);
  }
}
