<section class="calendar-modal" [ngClass]="{ 'calendar-modal-dark': themeService.isDark }">
  <app-calendar-picker></app-calendar-picker>
  <mat-divider class="calendar-divider"></mat-divider>
  <app-calendar-tasks [dialog]="dialogRef"></app-calendar-tasks>
  <ng-container *ngIf="listService.currentList?.id === 'today' && (tomorrowTasksObs | async)?.length">
    <mat-divider class="calendar-divider"></mat-divider>
    <app-calendar-tasks duringType="tomorrow" [dialog]="dialogRef" ></app-calendar-tasks>
  </ng-container>
  <ng-container *ngIf="(expiredTasksObs | async)?.length">
    <mat-divider class="calendar-divider"></mat-divider>
    <app-expired-tasks [dialog]="dialogRef"></app-expired-tasks>
  </ng-container>
</section>
<div class="calendar-modal-background" (click)="dialogRef.close()"></div>
