$light-theme: (
  bg: #f7f7f7,
  bg-c: #ffffff,
  element-active: #e1e6ef,
  component-active: #f8f9fc,
  component-title: #1f2020,
  font-accent: #212121,
  font-regular: #666666,
  font: #9e9e9e,
  submit: #15c771,
  alert: #ff0000,

);

$dark-theme: (
  bg: #1e1e1e,
  bg-c: #1b1f27,
  element-active: #32363e,
  component-active: #23272f,
  font: #e2e3e4,
  font-regular: #a7a9ac,
  font-accent: #e2e3e4,
);


@function colors($key, $dark: false) {
  $theme: $light-theme;
  @if $dark==true {
    $theme: $dark-theme;
  }
  $val: map-get($theme, $key);
  @return $val;
}
