<ng-container *ngIf="expiredItemsObs | async as items">
  <div class="calendar-expired-title">
    <div></div>
    <p>Overdue</p>
  </div>
  <ul class="calendar-expired-list" [ngClass]="{ 'calendar-expired-dark': themeService.isDark }">
    <ng-container *ngFor="let item of items">
      <li class="calendar-expired-list__component" (click)="gotToPage(item.id)">
        <p>{{ item.title }}</p>
        <span>{{ item.dueDate | transformDate }}</span>
      </li>
    </ng-container>
  </ul>
</ng-container>
