@use '../../style/colors' as c;
@use '../../style/typography' as t;
.container {
  position: relative;

  &-input {
    background: c.colors(component-active);
    outline: 0;
    min-width: 420px;
    border-radius: 12px;
    border: 1px solid c.colors(element-active);
    color: c.colors(font);
    padding: 14px 16px;
    transition: all 160ms ease-in;

    &::placeholder {
      padding-left: 100px;
      color: c.colors(font);
      font-weight: t.text-weight(normal);
      font-size: t.text(xs);
    }

    &:focus {
      border: 2px solid c.colors(font-accent);
      color: c.colors(font-accent);

      &::placeholder {
        visibility: hidden;
      }

      background: none;
    }
  }

  &-label {
    position: absolute;
    left: 18px;
    top: 13px;
    color: c.colors(font);
    cursor: text;
    background: none;
    padding: 0 2px;
    font-size: t.text(xs);
    transition: top 160ms ease-in, left 160ms ease-in, font-size 160ms ease-in;
  }

  &-picker {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.container-input:not(:placeholder-shown) {
  border: 2px solid c.colors(font-accent);
  color: c.colors(font-accent);
  background: none;
}

.container-input:focus ~ .container-label,
.container-input:not(:placeholder-shown).container-input:not(:focus) ~ .container-label {
  top: -6px;
  color: c.colors(font-accent);
  background: c.colors(bg-c);
  font-size: 11px;
}

.container-dark {
  & .container-picker {
    color: c.colors(bg-c);
  }
  & .container {
    &-input {
      background: none;
      border: 1px solid c.colors(font, true);
      color: c.colors(font, true);

      &::placeholder {
        color: c.colors(font);
      }

      &:focus {
        border: 2px solid c.colors(font, true);
        color: c.colors(font, true);

        &::placeholder {
          visibility: hidden;
        }

        background: none;
      }
    }

    &-label {
      color: c.colors(font, true);
    }
  }

  .container-input:not(:placeholder-shown) {
    border: 2px solid c.colors(font, true);
    color: c.colors(font, true);
  }

  & .container-input:focus ~ .container-label,
  .container-input:not(:placeholder-shown).container-input:not(:focus) ~ .container-label {
    top: -6px;
    color: c.colors(font, true);
    background: c.colors(bg-c, true);
    font-size: 11px;
  }
}

@media screen and (min-width: 378px) and (max-width: 767px) {
  .container-input {
    min-width: 79vw;
  }
}
