<ng-container *ngIf="listCatalogObs | async as listCatalog">
  <ul class="list" [ngClass]="{ 'list-dark': themeService.isDark }">
    <ng-container *ngFor="let list of listCatalog">
      <li class="list__component" [routerLink]="['', list.id]" routerLinkActive="list__component-active">
        <div class="list__component-container">
          <div class="list__component-color" [ngStyle]="{ 'background-color': list.color }"></div>
          <p class="list__component-title">{{ list.title }}</p>
        </div>
        <div class="app-tasks-amount">
          <app-tasks-amount [list]="list"></app-tasks-amount>
        </div>

        <ng-container *ngIf="listType === 'userCollection'">
          <div class="edit-list-button">
            <app-edit-item-info [id]="list.id" type="list"></app-edit-item-info>
          </div>
        </ng-container>
      </li>
    </ng-container>
  </ul>
</ng-container>
