<ng-container *ngIf="expiredTasksObs | async as tasks">
  <p class="calendar-expired-title" [ngClass]="{ 'calendar-expired-title-dark': themeService.isDark }">Overdue</p>
  <ul class="calendar-expired-list" [ngClass]="{ 'calendar-expired-dark': themeService.isDark }">
    <ng-container *ngFor="let task of tasks">
      <li class="calendar-expired-list__component" (click)="gotToPage(task)">
        <div class="calendar-expired-list__component-info">
          <div class="calendar-expired-list__component-alert"></div>
          <p>{{ task.title }}</p>
        </div>

        <span>{{ task.dueDate | timeSince }}</span>
      </li>
    </ng-container>
  </ul>
</ng-container>
