@use '../../style/colors' as c;
@use '../../style/sizes' as s;
@use '../../style/typography' as t;
.calendar-expired {
  &-title {
    margin-top: 24px;
    color: c.colors(component-title);
    font-size: t.text(s);
    font-weight: t.text-weight(bold);
    display: flex;
    word-break: break-word;
    align-items: center;
    gap: 10px;
    &-dark {
      color: c.colors(font, true);
    }
  }
  &-list {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__component {
      display: grid;
      grid-template-columns: 1fr max-content;
      cursor: pointer;
      align-items: center;
      justify-content: space-between;
      padding: 14px 5px;
      font-size: t.text(s);
      color: c.colors(font-accent);
      &-info {
        display: flex;
        align-items: center;
        p {
          margin-left: 7px;
          word-break: break-word;
        }
      }
      &-alert {
        width: 12px;
        height: 12px;
        background-color: c.colors(alert);
        flex-shrink: 0;
        border-radius: 3px;
      }
    }
  }
}
.calendar-expired-dark {
  & .calendar-expired-list__component {
    color: c.colors(font, true);
    font-weight: t.text-weight(bolder);
  }
}
@media screen and (max-width: 1199px) {
  .calendar-expired-list {
    margin-top: 24px;
    &-component {
      font-size: 12px;
      padding: 5px;
    }
  }
}
@media screen and (min-width: 378px) and (max-width: 767px) {
  .calendar-expired-list__component {
    p,
    span {
      font-size: t.text(xs);
    }
  }
}
