@use '../../../app.component';

.new-list-form {
  &-title {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
  }

  &-container {
    margin-top: 24px;
    @include app.flex-column();
    align-items: self-start;
  }
}

.select-option {
  background-color: green;
}

.newList-select {
  margin-top: 24px;
  min-width: 400px;
  border-radius: 12px;
  border: 1px solid #666666;
  background: none;
  padding: 14px 16px;

  &-icon {
    position: absolute;
    top: 35px;
    right: 10px;
    z-index: -1;
  }
}

.select-container {
  width: 400px;
  height: 45px;
  position: relative;
}

.option {
  display: flex;

  &-color {
    border-radius: 100px;
    width: 24px;
    height: 24px;
  }

  &-name {
    margin-left: 32px;
    font-size: 14px;
    color: #212121;
  }
}

.newList-select:focus,
.newList-select:not(:placeholder-shown) {
  border: 2px solid #212121;
}
.select-container-dark {

 & .newList-select-icon{
   color:white;
   & svg{
     fill:white
   }
 }
  & .newList-select{
    border-color: #E2E3E4;
    &.mat-mdc-input-element {
    background: none;
    color: #E2E3E4;
  }}

}
.options{
  background-color: #1B1F27;
 & .option-name{
    color: #E2E3E4;
  }
}
