@import 'colors';

.totals_container {
  display: flex;
  align-items: center;

  .value {
    font-weight: 800;
    font-size: 32px;
    margin-right: 12px;
  }

  .change_since_yesterday {
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    height: 24px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 12px;
  }
}
