<button
  mat-icon-button
  [matMenuTriggerFor]="menu"
  class="menu-button"
  [ngStyle]="{ background: type === 'item' ? 'none' : '' }"
  [ngClass]="{ 'menu-button-dark': themeService.isDark }">
  <mat-icon class="white-icon">more_horiz</mat-icon>
</button>
<mat-menu #menu="matMenu" xPosition="before">
  <button mat-menu-item (click)="openModalWindow()">
    <div class="menu-component">
      <img [src]="themeService.isDark ? '../../../../assets/edit-white.svg' : '../../../../assets/edit.svg'" />
      <span class="menu-component-text" [ngClass]="{ 'menu-component-text-dark': themeService.isDark }">Edit</span>
    </div>
  </button>
  <button mat-menu-item (click)="deleteList()">
    <div class="menu-component">
      <img [src]="themeService.isDark ? '../../../../assets/delete-white.svg' : '../../../../assets/delete.svg'" />
      <span class="menu-component-text" [ngClass]="{ 'menu-component-text-dark': themeService.isDark }">Delete</span>
    </div>
  </button>
</mat-menu>
