@use '../../style/colors' as c;
@use '../../style/typography' as t;

.form {
  &-title {
    color: c.colors(font-accent);
    font-size: t.text(xl);
    font-weight: t.text-weight(bold);
  }

  &-container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: self-start;

    &__component {
      min-height: 47px;
      &:not(:first-child) {
        margin-top: 24px;
      }
    }
  }
}

.newList-select {
  margin-top: t.text(l);
  min-width: 400px;
  border-radius: 12px;
  border: 1px solid c.colors(font-regular);
  background: none;
  padding: 14px 16px;
}
.form-dark {
  & .form-title {
    color: c.colors(font, true);
  }
}
@media screen and (min-width: 378px) and (max-width: 767px) {
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-title {
    min-width: 79vw;
  }
}
