@import 'colors';

.global_layout {
  padding-top: 80px;

  .navigation_bar {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    padding: 0 70px;
    background: #23272f;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      cursor: pointer;
      width: 168px;
      height: 26px;
      line-height: 0;
    }

    .right {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .avatar {
        width: 32px;
        height: 32px;
        margin-left: 24px;
        cursor: pointer;
      }

      .outer_search_icon {
        color: $primary1;
        width: 24px;
        height: 24px;
        cursor: pointer;
      }

      .search_bar_wrapper {
        width: 488px;
      }

      .divider {
        width: 1px;
        height: 18px;
        background: $line3;
        margin-right: 24px;
        margin-left: 24px;
      }

      .portfolio_link {
        display: flex;
        align-items: center;

        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: $primary1;

        .icon {
          margin-right: 4px;
        }
      }
    }
  }
}

::ng-deep .filtered_tickers_container {
  border-radius: 8px !important;
  margin-top: 12px !important;

  .ticker {
    min-height: auto !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;

    .mdc-list-item__primary-text {
      width: 100%;
      display: flex;
      align-items: center;

      .ticker_id {
        flex: 0 0 65px;
        margin-right: 27px;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
      }

      .ticker_name {
        flex: 1 1 auto;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
      }
    }
  }
}
