@use './src/app/style/colors' as c;
@use './src/app/style/sizes' as s;
@use './src/app/style/typography' as t;
.calendar-items {
  margin-top: t.text(l);
  width: s.size(full);
  &-list {
    margin-top: t.text(s);
    &__component {
      display: flex;
      align-items: center;
      padding: t.text(xs) t.text(s);
      border-radius: 8px;
      cursor: pointer;
      justify-content: space-between;

      &-container {
        display: flex;
        align-items: center;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.15);
      }
      &-color {
        width: 10px;
        height: 10px;
        border-radius: 2px;
      }
      &-title {
        margin-left: 6px;
      }
    }
  }
}

.calendar-items-dark {
  & .calendar-items-title {
    color: c.colors(font, true);
  }
  & .calendar-items-list__component-title {
    color: c.colors(font, true);
  }
}
@media screen and (min-width: 378px) and (max-width: 767px) {
  .calendar-items-list {
    max-height: 120px;
    overflow: scroll;
  }
}
