.calendar-items {
  margin-top: 24px;
  width: 100%;
  &-title {
    padding-left: 16px;
  }
  &-list {
    margin-top: 16px;
    &__component {
      display: flex;
      align-items: center;
      padding: 12px 16px;
      border-radius: 8px;
      cursor: pointer;
      justify-content: space-between;

      &-container {
        display: flex;
        align-items: center;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.15);
      }
      &-color {
        width: 10px;
        height: 10px;
        border-radius: 2px;
      }
      &-title {
        margin-left: 6px;
      }
    }
  }
}

.calendar-items-dark {
  & .calendar-items-title {
    color: #e2e3e4;
  }
  & .calendar-items-list__component-title {
    color: #e2e3e4;
  }
}
