.menu-button {
  padding: 6px 6px 4px;
  border-radius: 100px;
  &:hover {
    background: #ffffff;
  }
}
.menu-component {
  display: flex;
  align-items: flex-start;

  &-text {
    margin-left: 12px;
    font-weight: 400;
    font-size: 14px;
    color: #666666;
    &-dark {
      color: #e2e3e4;
    }
  }
}

.menu-button-dark {
  background: none;

  & .white-icon {
    color: white;
    & svg {
      fill: white;
    }
  }
  color: #e2e3e4;
}
