.menu-button{
  cursor: pointer;
  padding: 6px 6px 4px;
  background: #FFFFFF;
  border-radius: 100px;
}
.menu-component {
  display: flex;
  align-items: flex-start;

  &-text {
    margin-left: 12px;
    font-weight: 400;
    font-size: 14px;
    color: #666666;
  }

  &:hover {
    &-text {
      color: #212121;
    }
  }
}

.mat-mdc-menu-item:hover {
  .menu-component-text {
    color: #212121;
  }

  img {
    fill: #212121;
  }
}
.menu-button-dark{
  background: none;

 & .white-icon {
    color: white;
   & svg{
     fill:white;
   }
  }

}

