@import 'colors';

.recharts-cartesian-axis-line,
.recharts-cartesian-axis-tick-line {
  stroke: $line2;
}

.recharts-cartesian-axis-tick-value {
  font-size: 12px;
}

.recharts-pie-sector {
  outline: none;
  box-shadow: none;
}
