@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'colors';
@import 'charts';
@import 'markdown';

:root {
  font-family: 'Nunito Sans', sans-serif;
  /*color-scheme: light dark;*/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.gray_out_in_inspection_mode {
  transition: filter 1s;
}

.inspection_mode {
  .gray_out_in_inspection_mode {
    filter: grayscale(100%);
  }
}
