@use 'style/colors' as c;
@use 'style/typography' as t;
@use 'style/sizes' as s;
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

.main {
  background-color: c.colors(bg);
  width: s.size(full);
  min-height: s.size(100h);
  height: s.size(full);
  padding-bottom: 20px;
  &-dark {
    background-color: c.colors(bg, true);
    color: c.colors(font, true);
  }
}

.wrapper {
  min-width: 1400px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@media screen and (min-width: 1353px) and (max-width: 1420px) {
  .wrapper {
    min-width: 1170px;
  }
}
@media screen and (min-width: 1248px) and (max-width: 1352px) {
  .wrapper {
    min-width: 1110px;
  }
}
@media screen and (max-width: 1247px) {
  .wrapper {
    min-width: s.size(80);
    max-width: s.size(80);
  }
}
// @media screen and (min-width: 769px ) and (max-width: 1000px){
//   .wrapper{
//     min-width: 90vw;
//   }
// }
