@use '../../app.component';
@use '../../style/colors' as c;
@use '../../style/typography' as t;
@use '../../style/sizes' as s;

.header {
  width: s.size(full);
  padding: 20px;
  display: flex;
  position: relative;
  justify-content: center;
}
.logo-container {
  margin-left: 16px;
  display: flex;
  align-items: center;

  &-title {
    margin-left: 17px;
    font-size: t.text(m);
    font-weight: t.text-weight(bold);
    color: #000000;
  }
}
.header-align{
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile {
  display: flex;
  align-items: center;

  &-avatar {
    margin-left: 36px;
    border-radius: 100px;
  }

  &-theme-button {
    background: none;
  }
}
.burger-menu {
  display: none;
}

.content {
  margin-top: 48px;
  width: s.size(full);
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar-button {
  display: none;
}

@media screen and (max-width: 1247px) {
  .content {
    padding: 0 40px;
  }

  .logo-container {
    margin-left: 16px;
  }

  .calendar-button {
    display: block;
    position: fixed !important;
    bottom: 40px;
    right: 40px;
    padding: 13px 16px;
    flex-shrink: 0;
    border-radius: 100px;
    box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.12);
  }
}
@media screen and (min-width: 378px) and (max-width: 768px) {
  .content {
    display: block;
  }
  .profile {
    display: none;
  }
  .wrapper {
    min-width: auto;
    max-width: s.size(full);
    display: block;
  }
  .burger-menu {
    display: block;
    position: absolute;
    left: 34px;
  }
}
