.item {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
  padding: 21px 13px;
  cursor: pointer;
  &:hover {
    background-color: #f8f9fc;
  }
  &-selected {
    background-color: #f8f9fc;
    & .item-content-header-edit {
      display: block;
    }
  }
  &-content {
    min-width: 508px;
    &-header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      &-text {
        padding-left: 10px;

        &-title {
          font-weight: 500;
          font-size: 20px;
          color: #1f2020;
        }

        &-description {
          cursor: pointer;
          margin-top: 8px;
          font-size: 14px;
          font-weight: 500;
          color: #666666;
        }
      }
      &-edit {
        display: none;
      }
    }

    &-devider {
      margin-top: 15px;
      border-bottom: 1px solid #e1e6ef;
    }

    &-info {
      margin-top: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-date {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 12px;
        color: #666666;

        span {
          font-weight: 700;
          color: #212121;
        }
      }

      &-tags {
        display: flex;

        &__component {
          &:not(:first-child) {
            margin-left: 5px;
          }

          font-weight: 700;
          font-size: 12px;
          color: #212121;
          padding: 5px;
          border: 2px solid #212121;
          border-radius: 4px;
        }
      }
    }
  }

  &-completed {
    & .item-content-header-text-title {
      color: #666666;
      text-decoration: line-through;
    }

    & .item-content-header-text-description {
      display: none;
    }
  }
}
.item-dark {

  & .item-content-header-text-title,
  .format-date,
  .item-content-info-tags__component {
    color: #e2e3e4;
  }
  & .item-content-header-text-description,
  .item-content-info-date {
    color: #a7a9ac;
  }
  & .item-content-info-tags__component {
    border-color: #e2e3e4;
  }
  &:hover {
    background-color: #23272f;
    & .item-content-header-text-title,
    .format-date,
    .item-content-info-tags__component {
      color: #e2e3e4;
    }
    & .item-content-header-text-description,
    .item-content-info-date {
      color: #a7a9ac;
    }
    & .item-content-info-tags__component {
      border-color: #e2e3e4;
    }
  }
  &.item-selected {
    background-color: #23272f !important;
  }
}
