<ng-container *ngIf="editTodoForm">
  <form [formGroup]="editTodoForm" (ngSubmit)="onSubmit()" class="form">
    <h2 class="form-title">Edit Label</h2>
    <div class="form-container">
      <div class="form-container__component">
        <app-text-input
          controlName="title"
          [control]="editTodoForm"
          inputId="title"
          title="Edit label"
          type="text"></app-text-input>
      </div>
    </div>
    <app-form-buttons [control]="editTodoForm" [dialog]="dialog" submitName="Save"></app-form-buttons>
  </form>
</ng-container>
