@use '../style/colors' as c;
@use '../style/typography' as t;
@use '../style/sizes' as s;
.modal {
  position: fixed;
  left: 0;
  top: 72px;
  width: s.size(full);
  height: s.size(full);
  z-index: 1000;
  display: flex;
  justify-content: center;

  &-body {
    min-width: 496px;
    margin-top: 40px;
    height: fit-content;
    padding: 28px 28px 48px 48px;
    background-color: c.colors(bg-c);
    border-radius: 12px;
    z-index: 1000;

    &-header {
      &-button {
        display: block;
        margin-left: auto;
      }
    }

    &-content {
      overflow: auto;
    }
  }

  &-background {
    width: s.size(full);
    height: s.size(full);
    position: fixed;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: 900;
  }
}
.modal-dark {
  & .modal-body {
    background-color: c.colors(bg-c, true);
  }
}
@media screen and (min-width: 378px) and (max-width: 767px) {
  .modal {
    top: 0;
    &-body {
      margin-top: 0;
      border-radius: 0;
      min-width: s.size(full);
      min-height: s.size(full);
    }
  }
}
