$breakpoints: (
  xl: 'min-width: 1376px',
  desktop: 'max-width: 1375px',
  tablet: 'max-width: 1020px',
  mobile: 'max-width: 700px',
);

@mixin customBreakpointCss($breakpointNames...) {
  @each $breakpointName in $breakpointNames {
    $cssProperty: null;
    @if (map-has_key($breakpoints, $breakpointName)) {
      $cssProperty: map-get($breakpoints, $breakpointName);
    } @else {
      $cssProperty: $breakpointName;
    }
    @media only screen and ($cssProperty) {
      @content;
    }
  }
}

.light {
  color: var(--text1);
  --primary1: #72ffa2;
  --primary2: rgba(114, 255, 162, 0.1);
  --primary3: #23272f;
  --scrim1: rgba(0, 0, 0, 0.4);
  --line1: #e1e6ef;
  --line2: #c4ccd9;
  --line3: #3f444d;
  --bg1: #f1f3f9;
  --bg2: #f8f9fc;
  --bg3: #d9dbe0;
  --bg4: #ffffff;
  --bg5: #242424;
  --bg6: #373737;
  --bg7: #000000;
  --bg8: #d9dbe0;
  --bg9: #1b1f27;
  --text1: #1f2020;
  --text2: #606164;
  --text3: #949494;
  --text4: rgba(255, 255, 255, 0.9);
  --gain1: #018638;
  --gain2: #e6fae6;
  --gain3: #bce5c6;
  --lose1: #eb0f29;
  --lose2: #ffdde1;
  --lose3: #ffc5cb;
  --data1: #f80e5d;
  --data2: #12a9ff;
  --data3: #0f69ff;
  --data4: #00ab5e;
  --data5: #ff520d;
  --data6: #ffd333;
  --data7: #003abc;
  --data8: #cc008c;
  --data9: #39007d;
  --data10: #21d87d;
  --data11: #ff8b12;
  --data12: #ffa700;
  --data13: #ff333a;
  --data14: #11d3cd;
  --data15: #7e1fff;
  --data16: #907cff;
  --data17: #1ac567;
  --data18: #009c94;
  --elevation1: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.08);
  --elevation2: 0px -1px 2px rgba(0, 0, 0, 0.08),
    0px 4px 8px rgba(0, 0, 0, 0.12);
  --elevation3: 0px 0px 16px rgba(0, 0, 0, 0.12),
    0px 20px 20px -16px rgba(0, 0, 0, 0.28);
  --elevation4: 0px 0px 16px rgba(0, 0, 0, 0.05),
    0px 28px 24px -16px rgba(0, 0, 0, 0.32);
  --elevation-navigation: 12px 0px 72px -8px rgba(0, 0, 0, 0.16),
    1px 0px 0px #e1e6ef;
}

$primary1: var(--primary1);
$primary2: var(--primary2);
$primary3: var(--primary3);
$scrim1: var(--scrim1);
$line1: var(--line1);
$line2: var(--line2);
$line3: var(--line3);
$bg1: var(--bg1);
$bg2: var(--bg2);
$bg3: var(--bg3);
$bg4: var(--bg4);
$bg5: var(--bg5);
$bg6: var(--bg6);
$bg7: var(--bg7);
$bg8: var(--bg8);
$bg9: var(--bg9);
$text1: var(--text1);
$text2: var(--text2);
$text3: var(--text3);
$text4: var(--text4);
$gain1: var(--gain1);
$gain2: var(--gain2);
$gain3: var(--gain3);
$lose1: var(--lose1);
$lose2: var(--lose2);
$lose3: var(--lose3);
$data1: var(--data1);
$data2: var(--data2);
$data3: var(--data3);
$data4: var(--data4);
$data5: var(--data5);
$data6: var(--data6);
$data7: var(--data7);
$data8: var(--data8);
$data9: var(--data9);
$data10: var(--data10);
$data11: var(--data11);
$data12: var(--data12);
$data13: var(--data13);
$data14: var(--data14);
$data15: var(--data15);
$data16: var(--data16);
$data17: var(--data17);
$data18: var(--data18);
$elevation1: var(--elevation1);
$elevation2: var(--elevation2);
$elevation3: var(--elevation3);
$elevation4: var(--elevation3);
$elevation-navigation: var(--elevation-navigation);
