@use '../../style/colors' as c;
@use '../../style/sizes' as s;
@use '../../style/typography' as t;
.task {
  width: s.size(full);
  display: grid;
  grid-template-columns: 40px 1fr;
  border-radius: 8px;
  padding: 21px 14px;
  cursor: pointer;
  &:hover {
    background-color: c.colors(component-active);
    & .task-content-header-edit {
      display: flex;
    }
  }
  &-selected {
    background-color: c.colors(component-active);
    & .task-content-header-edit {
      display: flex;
    }
  }
  &-content {
    min-width: 90%;
    &-header {
      display: grid;
      grid-template-columns: 1fr 16px;
      grid-column-gap: 10%;
      &-text {
        padding-left: 10px;
        padding-top: 7px;
        &-container {
          display: flex;
          align-items: self-start;
        }
        &-title {
          font-weight: t.text-weight(bolder);
          font-size: t.text(m);
          color: c.colors(component-title);
          word-break: break-word;
        }

        &-description {
          cursor: pointer;
          margin-top: 8px;
          font-size: t.text(xs);
          font-weight: t.text-weight(bolder);
          color: c.colors(font-regular);
        }
      }
      &-edit {
        display: none;
      }
    }

    &-devider {
      margin-top: 15px;
      border-bottom: 1px solid c.colors(element-active);
    }

    &-info {
      width: 100%;
      margin-top: 12px;
      display: grid;
      grid-template-columns: 130px 1fr;
      grid-column-gap: 2%;

      &-date {
        text-transform: uppercase;
        font-weight: t.text-weight(bolder);
        font-size: t.text(xxs);
        color: c.colors(font-regular);

        span {
          font-weight: t.text-weight(bold);
          color: c.colors(font-accent);
        }
      }

      &-tags {
        min-height: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin-left: auto;
        &__component {
          width: fit-content;
          text-transform: uppercase;
          font-weight: t.text-weight(bold);
          font-size: t.text(xxs);
          color: c.colors(font-accent);
          padding: 5px;
          border: 2px solid c.colors(font-accent);
          border-radius: 4px;
        }
      }
    }
  }

  &-completed {
    & .task-content-header-text {
      padding-top: 0;
    }

    & .task-content-header-text-container {
      align-items: center;
    }
    & .task-content-header-text-title {
      color: c.colors(font-regular);
      text-decoration: line-through;
    }

    & .task-content-header-text-description {
      display: none;
    }
  }
}
.task-dark {
  & .task-content-header-text-title,
  .format-date,
  .task-content-info-tags__component {
    color: c.colors(font, true);
  }
  & .task-content-header-text-description,
  .task-content-info-date {
    color: c.colors(font-regular, true);
  }
  & .task-content-info-tags__component {
    border-color: c.colors(font, true);
  }
  &:hover {
    background-color: c.colors(component-active, true);
    & .task-content-header-text-title,
    .format-date,
    .task-content-info-tags__component {
      color: c.colors(font, true);
    }
    & .task-content-header-text-description,
    .task-content-info-date {
      color: c.colors(font-regular, true);
    }
    & .task-content-info-tags__component {
      border-color: c.colors(font, true);
    }
  }
  &.task-selected {
    background-color: c.colors(component-active, true) !important;
  }
  .tag-container-list__component {
    color: c.colors(font-regular, true);
  }
}

@media screen and (min-width: 378px) and (max-width: 500px) {
  .task {
    padding-right: 30px;
  }
  .task-content-info-tags {
    flex-wrap: wrap;
  }
}
