@use '../../style/colors' as c;
@use '../../style/sizes' as s;
@use '../../style/typography' as t;
.task {
  width: s.size(full);
  border-radius: 8px;
  padding: 21px 13px;
  cursor: pointer;
  &:hover {
    background-color: c.colors(component-active);
    & .task-content-header-edit {
      display: block;
    }
  }
  &-selected {
    background-color: c.colors(component-active);
    & .task-content-header-edit {
      display: block;
    }
  }
  &-content {
    min-width: 508px;
    &-header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      &-text {
        padding-left: 10px;
        padding-top: 7px;
        &-container {
          display: flex;
          align-items: self-start;
        }
        &-title {
          font-weight: t.text-weight(bolder);
          font-size: t.text(m);
          color: c.colors(component-title);
        }

        &-description {
          cursor: pointer;
          margin-top: 8px;
          font-size: t.text(xs);
          font-weight: t.text-weight(bolder);
          color: c.colors(font-regular);
        }
      }
      &-edit {
        display: none;
      }
    }

    &-devider {
      margin-top: 15px;
      border-bottom: 1px solid c.colors(element-active);
    }

    &-info {
      margin-top: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-date {
        text-transform: uppercase;
        font-weight: t.text-weight(bolder);
        font-size: t.text(xxs);
        color: c.colors(font-regular);

        span {
          font-weight: t.text-weight(bold);
          color: c.colors(font-accent);
        }
      }

      &-tags {
        display: flex;
        gap: 5px;
        &__component {
          &:not(:first-child) {
          }

          font-weight: t.text-weight(bold);
          font-size: t.text(xxs);
          color: c.colors(font-accent);
          padding: 5px;
          border: 2px solid c.colors(font-accent);
          border-radius: 4px;
        }
      }
    }
  }

  &-completed {
    & .task-content-header-text {
      padding-top: 0;
    }

    & .task-content-header-text-container {
      align-items: center;
    }
    & .task-content-header-text-title {
      color: c.colors(font-regular);
      text-decoration: line-through;
    }

    & .task-content-header-text-description {
      display: none;
    }
  }
}
.task-dark {
  & .task-content-header-text-title,
  .format-date,
  .task-content-info-tags__component {
    color: c.colors(font, true);
  }
  & .task-content-header-text-description,
  .task-content-info-date {
    color: c.colors(font-regular, true);
  }
  & .task-content-info-tags__component {
    border-color: c.colors(font, true);
  }
  &:hover {
    background-color: c.colors(component-active, true);
    & .task-content-header-text-title,
    .format-date,
    .task-content-info-tags__component {
      color: c.colors(font, true);
    }
    & .task-content-header-text-description,
    .task-content-info-date {
      color: c.colors(font-regular, true);
    }
    & .task-content-info-tags__component {
      border-color: c.colors(font, true);
    }
  }
  &.task-selected {
    background-color: c.colors(component-active, true) !important;
  }
}
@media screen and (max-width: 1247px) {
  .task-content {
    min-width: s.size(45);
  }
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .task-content {
    min-width: s.size(full);
  }
}
@media screen and (min-width: 378px) and (max-width: 767px) {
  .task-content {
    min-width: s.size(30) !important;
  }
  .task-content-info-tags {
    max-width: 120px;
    flex-wrap: wrap;
  }
}
