div[id='container'] {
  padding: 12px;
}

div[id='header'] {
  display: flex;
  justify-content: space-between;
}

button[id='exit'] {
  border: none;
  background-color: transparent;
  color: gray;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 16px;
}

button[id='exit']:hover {
  cursor: pointer;
}

h3 {
  padding: 4px 0;
  margin: 4px 0;
}
