@use '@angular/material' as mat;

@include mat.core();

$frontend-primary: mat.define-palette(mat.$indigo-palette);
$frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$frontend-warn: mat.define-palette(mat.$red-palette);
$frontend-theme: mat.define-light-theme(
  (
    color: (
      primary: $frontend-primary,
      accent: $frontend-accent,
      warn: $frontend-warn,
    ),
  )
);
@include mat.all-component-themes($frontend-theme);

* {
  padding: 0;
  margin: 0;
  outline: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Karla';
  border: none;
  background: none;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  background-color: #f7f7f7;
}
.cdk-global-overlay-wrapper {
  display: flex;
  justify-content: center !important;
  align-items: flex-end !important;
  position: absolute;
  z-index: 1000;
}
.cdk-overlay-dark-backdrop{
  background: none !important;
}
.body-dark {
  background-color: #1e1e1e;
  .mat-datepicker-content .mat-calendar {
    background-color: #23272f;
  }
  .mat-calendar-body-cell-content.mat-focus-indicator {
    color: #e2e3e4;
  }
  .mat-calendar-body-label {
    color: #e2e3e4;
  }
  .mat-calendar-previous-button::after,
  .mat-calendar-next-button::after {
    color: #e2e3e4;
  }
  .mat-calendar-table-header th {
    color: #e2e3e4;
  }
  .mdc-button .mdc-button__label {
    color: #e2e3e4;
  }
  .mat-calendar-arrow {
    fill: #e2e3e4;
  }
  .mat-mdc-menu-content {
    background-color: #23272f;
  }
  .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__background {
    border-color: #e2e3e4 !important;
  }
}

.mdc-menu-surface.mat-mdc-autocomplete-panel {
  padding: 0 !important;
}

@mixin formTitle {
  font-family: inherit;
  color: #212121;
  font-size: 36px;
  font-weight: 700;
}

html,
body {
  height: 100%;
}
