@use './src/app/style/colors' as c;
@use './src/app/style/sizes' as s;
@use './src/app/style/typography' as t;
.calendar {
  background-color: c.colors(bg-c);
  padding: 30px 24px;
  border-radius: 12px;
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-title {
      font-weight: t.text-weight(bold);
      font-size: t.text(s);
    }
  }

  &-dates {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    &__component {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      align-items: center;
      padding: 15px 5px;
      & p {
        font-weight: 400;
        font-size: t.text(s);
        color: c.colors(font-regular);
      }
      &-number {
        margin-top: 10px;
      }

      &:hover {
        background-color: c.colors(component-active);
        border-radius: 8px;
        & p {
          color: c.colors(font-accent);
          font-weight: t.text-weight(bold);
        }
      }
    }
  }
}
.date-navigation-icon {
  color: c.colors(font);
  & svg {
    fill: c.colors(font);
  }
  &:hover {
    color: c.colors(font-accent);
    & svg {
      fill: c.colors(font-accent);
    }
  }
}
.item-active {
  background-color: c.colors(component-active);
  border-radius: 8px;
  & p {
    color: c.colors(font-accent);
    font-weight: t.text-weight(bold);
  }
}
.dates-dark {
  background-color: c.colors(bg-c, true);
  .calendar-header-title {
    color: c.colors(font, true);
  }
  & .date-navigation-icon {
    color: c.colors(bg-c);
    & svg {
      fill: c.colors(bg-c);
    }
  }
  & .calendar-dates {
    &__component {
      &-title {
        color: #77797e;
      }
      &-number {
        color: c.colors(font-regular, true);
      }
    }
  }
  & .item-active {
    background-color: c.colors(element-active, true);
    & .calendar-dates {
      &__component {
        &-title {
          color: c.colors(font, true);
        }
        &-number {
          color: c.colors(font, true);
        }
      }
    }
  }
}
