@use './src/app/app.component';

.sidebar {
  @include app.flex-column;
  align-items: self-start;

  .divider {
    margin-top: 32px;
    width: 100%;
    border-bottom: 2px solid #e1e6ef;
  }
  &-user-todos {
    margin-top: 32px;
  }
}

@media screen and (max-width: 1199px) {
  .sidebar {
    display: none;
  }
}
