@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Karla:wght@500;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Karla';
  font-weight: 500;

  background-color: #eaecee;

  overflow-x: hidden;
}

header {
  height: 72px;
  width: 100vw;

  img {
    width: 20px;
    height: 20px;
  }
}

.navlink {
  text-decoration: none;
  &_content {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 12px;
    margin: 12px 0;
    border-radius: 8px;
    text-decoration: none;
    color: #212121;
    font-size: 20px;
    line-height: 23px;

    &:not(:first-child) {
      margin: 50px;
    }

    &-color {
      width: 16px;
      height: 16px;
      border-radius: 4px;
    }

    &-title {
      margin-left: 20px;
    }

    &-amount {
      margin-left: auto;
    }
  }
}

.divider {
  color: '#E1E6EF';
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 135px;

  div:first-child img {
    width: 14px;
    height: 14px;

    &:last-child {
      width: 42px;
      margin-left: 20px;
    }
  }

  div:last-child {
    display: flex;
    align-items: center;
  }

  div:last-child img {
    &:first-child {
      margin-right: 50px;
      cursor: pointer;
    }
  }

  &_avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-size: cover;
    cursor: pointer;
  }
}

.todo {
  padding: 16px;
  border-radius: 12px;
  margin-top: 20px;

  &_completed {
    margin-top: 80px;
  }

  & > ul > li > div > div > p:nth-child(2) {
    font-size: 12px;
    color: #666666;
    font-weight: 500;
    font-family: Karla;
    line-height: 14px;
  }

  & > ul > li > div > div > div:last-child {
    p {
      font-size: 12px;
      color: #666666;
      font-weight: 500;
      font-family: Karla;
      line-height: 14px;

      span {
        font-weight: 700;
        color: #212121;
      }
    }
  }
}

.modal_container-input {
  color: black;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;

  &_container {
    background-color: #fff;
    border-radius: 12px;
    padding: 48px;

    width: 500px;

    gap: 32px;

    display: flex;
    flex-direction: column;

    & > p {
      font-size: 36px;
      font-weight: bold;
    }

    & > div:last-child {
      & > button {
        color: #9e9e9e;
        border: 1px solid #e1e6ef;
        background-color: #fff;
      }
      & > button:last-child {
        color: #000;
      }
    }

    &-menu {
      background-color: #fff !important;
      padding: 14px !important;

      &:hover {
        background-color: #f1f4fc !important;
      }
    }

    &-item {
      width: 24px;
      height: 24px;
      border-radius: 50%;
    }

    &-color {
      margin-left: 20px;
    }

    & > div {
      display: flex;
      gap: 20px;
      & > button {
        cursor: pointer;
        border: none;
        outline: none;
        width: 100%;
        height: 48px;

        padding: 13px 32px;
        border-radius: 12px;
      }
    }

    &-select {
      background-color: #f8f9fc;
      color: #9e9e9e;
      border-radius: 12px !important;

      line-height: 20px;
      font-size: 14px;

      &:hover {
        border-color: transparent !important;
      }
    }

    & > input {
      background-color: #f8f9fc;
      color: #9e9e9e;
      border-radius: 12px;
      outline: none;
      border: none;
      padding: 12px 16px;
      line-height: 20px;
      font-size: 14px;

      border: 1px solid #e1e6ef;

      &:focus {
        outline: none;
      }
    }
  }
}

.item_button {
  padding: 25px;

  display: flex;
  align-items: center;
  border: none;
  outline: none;
  color: #9e9e9e;
  font-size: 20px;
  cursor: pointer;

  background-color: transparent;

  & > span:last-child {
    margin-left: 15px;
  }
}

.list_button {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  color: #9e9e9e;
  font-size: 20px;
  cursor: pointer;

  background-color: transparent;

  & > span:last-child {
    margin-left: 15px;
  }
}

.new_item-input {
  border-radius: 12px !important;
  font-size: 50px !important;
  color: 'red';
}

.datepicker {
  min-width: 100% !important;
  border-radius: 12px;
}

//// tags
///
///
///

.tags-input-container {
  border: 1px solid #e1e6ef;
  background-color: #f8f9fc;
  padding: 0.5em;
  border-radius: 12px;

  flex-wrap: wrap;
  gap: 0.8em !important;

  &_input {
    flex-grow: 1;
    padding: 11px 5px;
    border: none;
    outline: none;
    background-color: transparent;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: #212121;
  }
}

.tag-item {
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.15em 0.4em;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #212121;

  & > .close {
    margin-left: 0.5em;
    cursor: pointer;
  }
}

//// Calendar
///
///
.calendar {
  display: flex;
  flex-direction: column;
  height: 100%;

  &_body {
    display: flex;
    align-items: center;
  }

  &_header {
    display: flex;
    padding: 10px;
    justify-content: space-between;

    & > span {
      font-weight: 700;
      line-height: 150%;
    }

    &-btn {
      display: flex;
      justify-content: center;

      & button:first-child {
        margin-right: 30px;
      }

      & button {
        background-color: transparent !important;
        border: none;
        outline: none;
        cursor: pointer;
      }
    }

    &-weekdays {
      display: flex;
    }
  }
}

table {
  padding: 0;
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

tbody > tr > td {
  font-size: 16px;
  color: #666666;
  font-weight: 400;
  line-height: 150%;

  border-radius: 0 0 6px 6px;
}

th,
td {
  text-align: center;
  cursor: pointer;
}

th {
  color: #9e9e9e;
  font-size: 12px;
  font-weight: 500;
  line-height: 150%;

  border-radius: 6px 6px 0 0;
}

// th:hover {
//   border-radius: 6px 6px 0 0;
// }

// td:hover {
//   border-radius: 0 0 6px 6px;
// }

.table {
  height: 72px;
  border-radius: 100px !important;
}

.overdue {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  gap: 10px;

  &_due-item {
    display: flex;
    justify-content: space-between;
  }

  &_dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff0000;
  }
  & > div > span {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #ff0000;
  }
}

.due {
  padding: 30px 0 60px;
}
