<div class="sidebar-navigation" (click)="close()" [ngClass]="{ 'sidebar-navigation-dark': themeService.isDark }">
  <section class="sidebar-navigation-content">
    <app-list-catalogue listType="defaultCollection"></app-list-catalogue>

    <mat-divider style="margin-top: 24px"></mat-divider>
    <div class="sidebar-navigation-content__component">
      <app-list-catalogue listType="userCollection"></app-list-catalogue>
    </div>
    <app-add-list-button></app-add-list-button>
    <div class="sidebar-navigation-content-buttons-container">
      <app-theme-button></app-theme-button>
      <app-logout-button></app-logout-button>
    </div>
  </section>
</div>
<div class="sidebar-navigation-background" (click)="close()"></div>
