@use '../style/colors' as c;
@use '../style/sizes' as s;
.sidebar-navigation {
  position: fixed;
  left: 0;
  top: 63px;
  width: s.size(full);
  height: s.size(full);
  z-index: 1000;
  overflow: scroll;
  &-content {
    width: fit-content;
    padding: 24px 24px 90px;

    background-color: white;
    height: s.size(full);
    display: flex;
    flex-direction: column;
    &__component {
      margin-top: 24px;
    }
    &-buttons-container {
      padding-left: 5px;
      margin-top: auto;
    }
  }
  &-background {
    width: s.size(full);
    height: s.size(full);
    position: fixed;
    left: 0;
    top: 63px;
    background-color: #000;
    opacity: 0.6;
    z-index: 900;
  }
  &-dark {
    & .sidebar-navigation-content {
      background-color: c.colors(bg-c, true);
    }
  }
}
