.form {
  &-title {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
  }

  &-container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: self-start;

    &__component {
      &:not(:first-child) {
        margin-top: 24px;
      }
    }
  }
}

.newList-select {
  margin-top: 24px;
  min-width: 400px;
  border-radius: 12px;
  border: 1px solid #666666;
  background: none;
  padding: 14px 16px;
}
.form-dark {
  & .form-title {
    color: #e2e3e4;
  }
}
@media screen and (min-width: 378px) and (max-width: 767px) {
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-title {
    min-width: 79vw;
  }
}
