 @use 'colors' as c;
 @use 'sizes' as s;
 @use 'typography' as t;

.menu-button {
  padding: 6px 6px 4px;
}

.menu-component {
  display: flex;
  align-items: flex-start;

  &-text {
    margin-left: 12px;
    font-weight: t.text-weight(normal);
    font-size: t.text(xs);
    color: c.colors(font-regular);

    &-dark {
      color: c.colors(font, true);
    }
  }
}

.menu-button-dark {
  background: none;

  color: c.colors(font, true);
}
