<ng-container *ngIf="listCollection">
  <div class="select-container" [ngClass]="{ 'select-container-dark': themeService.isDark }">
    <input
      matInput
      [matAutocomplete]="auto"
      class="newList-select"
      [ngClass]="{ 'newList-select-no-content': !listCollection.length }"
      [value]="selectedList?.title"
      [placeholder]="!listCollection.length ? 'Select list' : ''" />
    <div [style.background-color]="selectedList?.color" class="option-color selected-color"></div>
    <mat-icon class="newList-select-icon" [ngClass]="{ 'newList-select-icon-dark': themeService.isDark }"
      >unfold_more</mat-icon
    >
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let list of listCollection"
        [value]="list.title"
        [ngClass]="{ options: themeService.isDark }"
        (click)="selectList(list)">
        <div class="option">
          <div [style.background-color]="list.color" class="option-color"></div>
          <p class="option-name">{{ list.title }}</p>
        </div>
      </mat-option>
      <mat-option
        [ngClass]="{ options: themeService.isDark }"
        (click)="openNewListWindow()"
        [value]="selectedList?.title">
        <div class="option">
          <div class="list-option">
            <img src="assets/plus.svg" class="list-option-add" alt="" />
          </div>
          <p class="option-name">New List</p>
        </div>
      </mat-option>
    </mat-autocomplete>
  </div>
</ng-container>
