<header
  class="header"
  [ngStyle]="{
    'background-color': todoCollection.currentTodo?.color ? todoCollection.currentTodo?.color : 'black'
  }">
  <mat-icon class="burger-menu" (click)="openModalWindow()">menu</mat-icon>
  <div class="wrapper">
    <div class="logo-container">
      <img src="./assets/logo.svg" alt="" class="logo-container-img" />

      <p class="logo-container-title">T•D•</p>
    </div>
    <div class="profile">
      <ng-container *ngIf="userObs | async as user">
        <button [matMenuTriggerFor]="menu">
          <img [src]="user.avatar" alt="" class="profile-avatar" width="32" height="32" />
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <div mat-menu-item>
            <app-theme-button></app-theme-button>
          </div>
          <div mat-menu-item>
            <app-logout-button></app-logout-button>
          </div>
        </mat-menu>
      </ng-container>
    </div>
  </div>
</header>

<main class="content dark">
  <div>
    <button
      class="calendar-button"
      [ngStyle]="{
        'background-color': todoCollection.currentTodo?.color ? todoCollection.currentTodo?.color : 'black'
      }"
      (click)="openCalendar()">
      <img src="assets/calendar.svg" alt="calendar-button" />
    </button>
    <section class="wrapper">
      <app-todo-navigation></app-todo-navigation>
      <router-outlet></router-outlet>
      <app-calendar-sidebar></app-calendar-sidebar>
    </section>
  </div>
</main>
