<header
  class="header"
  [ngStyle]="{
    'background-color': todoCollection.currentTodo?.color ? todoCollection.currentTodo?.color : 'black'
  }">
  <div class="wrapper">
    <div class="logo-container">
      <mat-icon class="burger-menu" (click)="openModalWindow()">menu</mat-icon>
      <img src="./assets/logo.svg" alt="" class="logo-container-img" />

      <p class="logo-container-title">T•D•</p>
    </div>
    <div class="profile">
      <button class="profile-theme-button" (click)="toggleTheme()">
        <img src="./assets/theme-light.svg" alt="theme" />
      </button>
      <ng-container *ngIf="userObs | async as user">
        <img [src]="user.avatar" alt="" class="profile-avatar" width="32" height="32" />
      </ng-container>
    </div>
  </div>
</header>
<main class="content dark">
  <div>
    <button
      class="calendar-button"
      [ngStyle]="{
        'background-color': todoCollection.currentTodo?.color ? todoCollection.currentTodo?.color : 'black'
      }"
      (click)="openCalendar()">
      <img src="assets/calendar.svg" alt="calendar-button" />
    </button>
    <section class="wrapper">
      <app-todo-navigation></app-todo-navigation>
      <router-outlet></router-outlet>
      <app-calendar-sidebar></app-calendar-sidebar>
    </section>
  </div>
</main>
