 @use 'colors' as c;
 @use 'typography' as t;
 @use 'sizes' as s;

.calendar {
  background-color: c.colors(bg-c);
  padding: 30px 24px;
  border-radius: 12px;
  &-divider {
    margin-top: 24px;
  }
}

.calendar-dark {
  background-color: c.colors(bg-c, true);

  & .calendar-divider {
    border-top-color: c.colors(bg-c);
  }
}

@media screen and (max-width: 1247px) {
  .calendar {
    position: absolute;
    visibility: hidden;
    padding: s.size(0) !important;
    display: none !important;
  }
}
