<div class="sidebar-navigation" (click)="close()" [ngClass]="{ 'sidebar-navigation-dark': themeService.isDark }">
  <section class="sidebar-navigation-content">
    <app-todo-list listType="defaultCollection"></app-todo-list>

    <mat-divider style="margin-top: 24px"></mat-divider>
    <div class="sidebar-navigation-content__component">
      <app-todo-list listType="userCollection"></app-todo-list>
    </div>
    <app-add-todo-button></app-add-todo-button>
    <div class="sidebar-navigation-content-buttons-container">
      <app-theme-button></app-theme-button>
      <app-logout-button></app-logout-button>
    </div>
  </section>
</div>
<div class="sidebar-navigation-background" (click)="close()"></div>
