.sidebar-navigation {
  position: fixed;
  left: 0;
  top: 72px;
  width: 100%;
  height: 100%;
  z-index: 1000;
 overflow: scroll;
 &-content{
   width: fit-content;
   padding: 24px;
   background-color: white;
   height: 100%;
   &__component{
     margin-top: 24px;
   }

 }
  &-background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: 900;
  }
  &-dark{
   & .sidebar-navigation-content{
     background-color: #1b1f27;
   }
  }
}

