@import 'colors';

.portfolio_container {
  .portfolio {
    .global_portfolio_section {
      margin-top: 40px;
      margin-bottom: 24px;

      .title {
        font-weight: 800;
        font-size: 16px;
        color: $text2;
        margin-bottom: 18px;
      }

      .totals {
      }
    }

    .chart_and_controls_container {
      margin-bottom: 40px;
    }

    .health_and_diversity {
      box-shadow: $elevation2;
      border-radius: 16px;
      background: $bg2;
      padding: 20px;
      margin-bottom: 40px;

      .title {
        font-weight: 800;
        font-size: 16px;
        line-height: 100%;
        color: #1f2020;
        margin-bottom: 20px;
      }

      .stats {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 24px;
        grid-row-gap: 12px;
        margin-bottom: 12px;

        .stat {
          display: flex;
          align-items: center;

          .stat_name {
            font-weight: 800;
            font-size: 14px;
            line-height: 100%;
            color: $text2;
            margin-right: 16px;
          }

          .stat_value {
            font-weight: 700;
            font-size: 14px;
            line-height: 100%;
            display: flex;
            align-items: center;

            .total_gain {
              margin-right: 8px;
            }
          }
        }
      }

      .progress_bar_container {
        width: 100%;
        display: flex;
        height: 11px;
        margin-bottom: 12px;

        .single_progress_bar {
          height: 100%;
        }
      }

      .progress_bar_tags {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        row-gap: 12px;
        column-gap: 40px;

        .tag {
          display: flex;
          align-items: center;

          .bullet {
            width: 10px;
            height: 10px;
            border-radius: 10px;
            margin-right: 8px;
          }

          .tag_text {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: $text1;

            .description {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            .bold {
              font-weight: 800;
              margin-left: 8px;
            }
          }
        }
      }
    }

    .assets_table {
      padding-bottom: 40px;
    }
  }
}
