<ng-container *ngIf="control">
  <form
    [ngClass]="{
      active: selectedTags.length,
      'tag-container-dark': themeService.isDark,
      'tag-container-light': !themeService.isDark
    }"
    [formGroup]="control"
    class="tag-container"
    id="tag">
    <ng-container *ngIf="selectedTags.length">
      <ul class="tag-container-list">
        <li class="tag-container-list__component" *ngFor="let selectedTag of selectedTags">
          {{ selectedTag.name }}
          <button class="tag-component-button" (click)="deleteTage(selectedTag.id)">
            X
          </button>
        </li>
      </ul>
    </ng-container>
    <input
      type="text"
      placeholder="Type to create a tag..."
      aria-label="Number"
      matInput
      #inputRef
      [matAutocomplete]="auto"
      class="tag-container-input"
      (keydown.enter)="addTagFromInput()" />
    <label class="tag-container-label" for="tag">Tag</label>
    <mat-autocomplete autoSelectActiveOption #auto="matAutocomplete">
      <mat-option
        *ngFor="let tag of tags"
        [value]="tag"
        (click)="addTagFromSelect(tag)"
        [ngClass]="{ options: themeService.isDark }"
        ><p>{{ tag.name }}</p></mat-option
      >
    </mat-autocomplete>
  </form>
</ng-container>
