<ng-container *ngIf="editLabelForm">
  <form
    [formGroup]="editLabelForm"
    (ngSubmit)="onSubmit()"
    class="form"
    [ngClass]="{ 'form-dark': themeService.isDark }">
    <h2 class="form-title">Edit Label</h2>
    <div class="form-container">
      <div class="form-container__component">
        <app-list-select [control]="editLabelForm"></app-list-select>
      </div>
      <div class="form-container__component">
        <app-text-input
          controlName="label"
          [control]="editLabelForm"
          inputId="title"
          title="Edit label"
          type="text"></app-text-input>
      </div>
    </div>
    <app-form-buttons [control]="editLabelForm" [dialog]="dialog" submitName="Save"></app-form-buttons>
  </form>
</ng-container>
