<ng-container *ngIf="labelForm">
  <form [formGroup]="labelForm" (ngSubmit)="submit()" class="form" [ngClass]="{ 'form-dark': themeService.isDark }">
    <h2 class="form-title">Edit Labels</h2>
    <div class="form-container">
      <div class="form-container__component">
        <app-text-input
          controlName="activeLabel"
          [control]="labelForm"
          inputId="activeLabel"
          title="Edit label"
          type="text"></app-text-input>
      </div>
      <div class="form-container__component">
        <app-text-input
          controlName="completeLabel"
          [control]="labelForm"
          inputId="completeLabel"
          title="Edit label"
          type="text"></app-text-input>
      </div>
    </div>
    <app-form-buttons [control]="labelForm" [dialog]="dialog" submitName="Save"></app-form-buttons>
  </form>
</ng-container>
