@use '../../../styles';
@use '../../style/colors' as c;
.form {
  &-title {
    @include styles.formTitle();
  }
  &-container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__component {
      &:not(:first-child) {
        margin-top: 24px;
      }
    }
  }
}
.form-dark {
  background-color: c.colors(bg-c, true);
  & .form-title {
    color: c.colors(font, true);
  }
}
