<ng-container *ngIf="todoObs | async as todo">
  <div class="todo-section">
    <div class="todo-section-title">
      <h2>{{ todo.title }}</h2>
      <ng-container *ngIf="!(todo.id === '1' || todo.id ==='2' || todo.id ==='3')">
        <app-edit-todo [todoTitle]="todo.title" [todoId]="todo.id"></app-edit-todo>
      </ng-container>
    </div>
    <div class="todo-section-content">
      <h2 *ngIf="!(activeItemsObs | async)?.length" class="no-items-title">There is no items</h2>
      <ul class="todo-section-content-list">
        <li *ngFor="let item of activeItemsObs | async" class="todo-section-content-list__component" (click)="setItemId(item.id)">

          <app-todo-item [item]="item" [itemId]="itemId"></app-todo-item>
        </li>
      </ul>
      <ng-container *ngIf="!(todo.id === '2' || todo.id ==='3')">
        <button class="new-items-section-button" (click)="openModalWindow(modalListName.newItem)">
          <img src="./assets/add.svg" alt="add-button" />
          <p class="new-items-section-button-title">New Item</p>
        </button>
      </ng-container>
    </div>
  </div>
  <ng-container *ngIf="completedItemsObs | async as completedItems">
    <div class="completed-items todo-section" *ngIf="completedItems.length">
      <div class="todo-section-title">
        <h2>Completed</h2>
        <ng-container *ngIf="!(todo.id === '1' || todo.id ==='2' || todo.id ==='3')">
          <app-edit-todo [todoTitle]="todo.title" [todoId]="todo.id"></app-edit-todo>
        </ng-container>

      </div>
      <div class="todo-section-content">
        <ul class="todo-section-content-list">
          <li *ngFor="let item of completedItems" class="todo-section-content-list__component">
            <app-todo-item [item]="item" ></app-todo-item>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>

</ng-container>
