@use './src/app/app.component';

.todo-section {
  @include app.flex-column();
  align-items: flex-start;

  &-title {
    width: 100%;
    font-size: 36px;
    color: #212121;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-content {
    margin-top: 16px;
    width: 100%;
    background-color: #ffffff;
    padding: 37px 28px;
    border-radius: 12px;

    &-list {
      &__component {
        &:not(:first-child) {
          margin-top: 47px;
        }
      }
    }
  }
}

.details-button {
  cursor: pointer;
  padding: 10px 8px 14px;
  background: #ffffff;
  border-radius: 100px;
}

.new-items-section {
  margin-top: 36px;

  padding-left: 16px;
}

.completed-items {
  margin-top: 56px;
}

.no-items-title {
  min-width: 508px;
  color: #212121;
  font-weight: 700;
  padding: 20px;
  font-size: 24px;
  text-align: center;
}
