<ng-container *ngIf="todoObs | async as todo">
  <div class="current-todo">
    <div class="current-todo-info">
      <div class="current-todo-color" [ngStyle]="{'background-color':todo.color}"></div>
      <p class="current-todo-title">{{todo.title}}</p>
      <div class="current-todo-amount">
        (<app-items-amount [todo]="todo"></app-items-amount>)
      </div>
    </div>

    <mat-divider style="margin-top: 25px"></mat-divider>
  </div>
  <div class="todo-section" [ngClass]="{'todo-section-dark':themeService.isDark}">
    <div class="todo-section-title">
      <h2>In Progress</h2>
      <ng-container *ngIf="!(todo.id === 'today' || todo.id ==='tomorrow' || todo.id ==='someday')">
        <app-edit-todo [todoTitle]="todo.title" [id]="todo.id" type="todo"></app-edit-todo>
      </ng-container>
    </div>
    <div class="todo-section-content">
      <h2 *ngIf="!(activeItemsObs | async)?.length" class="no-items-title">There is no items</h2>
      <ul class="todo-section-content-list">
        <li *ngFor="let item of activeItemsObs | async" class="todo-section-content-list__component" (click)="setItemId(item.id)">

          <app-todo-item [item]="item" [itemId]="itemId"></app-todo-item>
        </li>
      </ul>
      <ng-container *ngIf="!(todo.id === 'today' || todo.id ==='tomorrow' || todo.id ==='someday')">
        <div class="new-items-section" >
        <app-add-item-button></app-add-item-button>
        </div>
      </ng-container>
    </div>
  </div>
  <ng-container *ngIf="completedItemsObs | async as completedItems">
    <div class="completed-items todo-section" *ngIf="completedItems.length" [ngClass]="{'todo-section-dark':themeService.isDark}">
      <div class="todo-section-title">
        <h2>Completed</h2>
        <ng-container *ngIf="!(todo.id === '1' || todo.id ==='2' || todo.id ==='3')">
          <app-edit-todo [todoTitle]="todo.title" [id]="todo.id" type="todo"></app-edit-todo>
        </ng-container>

      </div>
      <div class="todo-section-content">
        <ul class="todo-section-content-list">
          <li *ngFor="let item of completedItems" class="todo-section-content-list__component">
            <app-todo-item [item]="item" ></app-todo-item>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>

</ng-container>
