 @use 'colors' as c;
 @use 'sizes' as s;
 @use 'typography' as t;
.calendar-tasks {
  margin-top: t.text(l);
  width: s.size(full);
  &-list {
    margin-top: t.text(s);
    &__component {
      display: grid;
      grid-template-columns: 1fr 34px;
      grid-column-gap: 0%;
      padding: t.text(xxs) 5px;
      border-radius: 8px;
      cursor: pointer;

      &-container {
        display: flex;
        align-items: center;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.15);
      }
      &-color {
        width: 12px;
        height: 12px;
        border-radius: 3px;
        flex-shrink: 0;
      }
      &-title {
        margin-left: 7px;
        word-break: break-word;
      }
    }
  }
}

.calendar-tasks-dark {
  & .calendar-tasks-title {
    color: c.colors(font, true);
  }
  & .calendar-tasks-list__component-title {
    color: c.colors(font, true);
  }
}
.add-task-button {
  margin-top: 12px;
}
@media screen and (max-width: 1199px) {
  .calendar-tasks-list {
    margin-top: 10px;
    &__component {
      padding: 4px 5px;
      display: grid;
      grid-template-columns: 1fr 34px;
      grid-column-gap: 0%;
      &:hover {
        background: none;
      }
    }
  }
}
@media screen and (min-width: 378px) and (max-width: 767px) {
  .calendar-tasks-list__component-title {
    font-size: t.text(xs);
  }
}
