@use '../../style/colors' as c;
@use '../../style/sizes' as s;
@use '../../style/typography' as t;
.calendar-tasks {
  margin-top: t.text(l);
  width: s.size(full);
  &-list {
    margin-top: t.text(s);
    &__component {
      display: flex;
      align-items: center;
      padding: t.text(xs) 5px;
      border-radius: 8px;
      cursor: pointer;
      justify-content: space-between;

      &-container {
        display: flex;
        align-items: center;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.15);
      }
      &-color {
        width: 12px;
        height: 12px;
        border-radius: 3px;
      }
      &-title {
        margin-left: 7px;
      }
    }
  }
}

.calendar-tasks-dark {
  & .calendar-tasks-title {
    color: c.colors(font, true);
  }
  & .calendar-tasks-list__component-title {
    color: c.colors(font, true);
  }
}
@media screen and (min-width: 378px) and (max-width: 767px) {
  .calendar-tasks-list {
    max-height: 120px;
    overflow: scroll;
  }
}
