<div class="calendar-tasks" [ngClass]="{ 'calendar-tasks-dark': themeService.isDark }">
  <ng-container *ngIf="duringType; else standardTitle">
    <h3 class="calendar-tasks-title">Due Tomorrow</h3>
  </ng-container>
  <ng-template #standardTitle>
    <h3 class="calendar-tasks-title">{{ calendarService.currentDate | date: formatTypes.MONTH_AND_DATE }}</h3>
  </ng-template>
  <ng-container *ngIf="activeTasksObs | async as tasks">
    <ul class="calendar-tasks-list" *ngIf="tasks.length">
      <ng-container *ngFor="let task of tasks">
        <li class="calendar-tasks-list__component">
          <div
            class="calendar-tasks-list__component-container"
            (click)="goToTodoPage(task.listId, task.id, task.dueDate)">
            <div class="calendar-tasks-list__component-color" [ngStyle]="{ 'background-color': task.listColor }"></div>
            <p class="calendar-tasks-list__component-title">{{ task.title }}</p>
          </div>
          <app-edit-item-info [id]="task.id" type="task"></app-edit-item-info>
        </li>
      </ng-container>
    </ul>
  </ng-container>
  <div class="add-task-button">
    <app-add-task-button [date]="calendarService.currentDate" type="calendar"></app-add-task-button>
  </div>
</div>
