<div class="calendar-tasks" [ngClass]="{ 'calendar-tasks-dark': themeService.isDark }">
  <h3 class="calendar-tasks-title">{{ calendarService.currentDate | date : formatTypes.MONTH_AND_DATE }}</h3>
  <ng-container *ngIf="activeTasksObs | async as tasks">
    <ul class="calendar-tasks-list">
      <ng-container *ngFor="let task of tasks">
        <li class="calendar-tasks-list__component">
          <div
            class="calendar-tasks-list__component-container"
            (click)="goToTodoPage(task.listId, task.id, task.dueDate)">
            <div class="calendar-tasks-list__component-color" [ngStyle]="{ 'background-color': task.listColor }"></div>
            <p class="calendar-tasks-list__component-title">{{ task.title }}</p>
          </div>
          <app-edit-label [id]="task.id" type="task"></app-edit-label>
        </li>
      </ng-container>
    </ul>
  </ng-container>
  <div class="add-task-button">
    <app-add-task-button [date]="calendarService.currentDate"></app-add-task-button>
  </div>
</div>
