<div class="zero_state_container">
  <div class="hero">
    <div class="container">
      <mat-icon class="hero_logo" svgIcon="hero_logo"></mat-icon>
    </div>
  </div>
  <div class="body">
    <div class="container">
      <div class="fade_background"></div>
      <div class="search_section">
        <div class="title">Start targeting your portfolio today!</div>
        <div class="description">Explore curated stocks, top gainers or losers or search for your favorite</div>
      </div>
    </div>
  </div>
</div>
