.tag-container {
  position: relative;
  background: #f8f9fc;
  outline: 0;
  display: flex;
  align-items: center;
  min-width: 420px;
  border-radius: 12px;
  border: 1px solid #e1e6ef;
  color: #9e9e9e;
  padding: 14px 16px;
  transition: all 160ms ease-in;

  &-label {
    font-size: 11px;
    display: none;
  }

  &:focus {
    color: #212121;
    background: none;
  }

  &:has(.tag-container-input:focus) {
    color: #212121;
    background: none;

    .tag-container-label {
      position: absolute;
      top: -10px;
      padding: 2px;
      display: block;
    }
  }

  &:focus .tag-container-label {
    position: absolute;
    top: -10px;
    padding: 2px;
    display: block;
  }

  .tag-container-input {
    margin-left: 10px;

    &::placeholder {
      font-size: 14px;
      color: #9e9e9e;
    }
  }

  &:has(.tag-container-input:not(:placeholder-shown)) {
    border: 2px solid #212121;
    color: #212121;
    background: none;

    .tag-container-label {
      position: absolute;
      top: -10px;
      padding: 2px;
      display: block;
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    min-width: 50px;
    max-width: 150px;
    gap: 5px;
    &__component {
      display: flex;
      max-inline-size: 150px;
      overflow-wrap: anywhere;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #212121;
      border-radius: 4px;
      padding: 5px;
      color: #212121;
      font-weight: 700;
      font-size: 12px;
    }
  }
}

.tag-component-button {
  margin-left: 10px;
}

.active {
  border: 2px solid #212121;
  color: #212121;
  background: none;

  .tag-container-label {
    position: absolute;
    top: -10px;
    padding: 2px;
    display: block;
  }
}

.tag-container-light {
  .tag-container-label {
    background-color: #ffffff;
  }
  &:has(.tag-container-input:focus) {
    border: 2px solid #212121;
  }
}
.tag-container-dark {
  background-color: #1b1f27;
  color: #e2e3e4;
  border-color: #e2e3e4;
  &:has(.tag-container-input:focus) {
    border: 2px solid #e2e3e4;
  }
  .tag-container-input {
    color: #e2e3e4;
  }
  .tag-container-label {
    background-color: #1b1f27;
    color: #e2e3e4;
  }

  .tag-container-list__component {
    border: 1px solid #e2e3e4;
    color: #e2e3e4;
  }
}
.options {
  background-color: #1b1f27;
  & p {
    color: #e2e3e4;
  }
}
@media screen and (min-width: 378px) and (max-width: 767px) {
  .tag-container{
    min-width: 79vw;
  }
}
