@use '../../../../styles';

.form{
  &-title{
    @include styles.formTitle()
  }
  &-container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__component {
      &:not(:first-child) {
        margin-top: 24px;
      }
    }
  }
}
