.container {
  position: relative;

  &-input {
    background: #f8f9fc;
    outline: 0;
    min-width: 420px;
    border-radius: 12px;
    border: 1px solid #e1e6ef;
    color: #9e9e9e;
    padding: 14px 16px;
    transition: all 160ms ease-in;

    &::placeholder {
      padding-left: 100px;
      color: #9e9e9e;
      font-weight: 400;
      font-size: 14px;
    }

    &:focus {
      border: 2px solid #212121;
      color: #212121;

      &::placeholder {
        visibility: hidden;
      }

      background: none;
    }
  }

  &-label {
    position: absolute;
    left: 18px;
    top: 13px;
    color: #9e9e9e;
    cursor: text;
    background: none;
    padding: 0px 2px;
    font-size: 14px;
    transition: top 160ms ease-in, left 160ms ease-in, font-size 160ms ease-in;
  }

  &-picker {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.container-input:not(:placeholder-shown) {
  border: 2px solid #212121;
  color: #212121;
  background: none;
}

.container-input:focus ~ .container-label,
.container-input:not(:placeholder-shown).container-input:not(:focus) ~ .container-label {
  top: -6px;
  color: #212121;
  background: #ffffff;
  font-size: 11px;
}

.container-dark {
  & .container-picker {
    color: white;
  }
  & .container {
    &-input {
      background: none;
      border: 1px solid #e2e3e4;
      color: #e2e3e4;

      &::placeholder {
        color: #9e9e9e;
      }

      &:focus {
        border: 2px solid #e2e3e4;
        color: #e2e3e4;

        &::placeholder {
          visibility: hidden;
        }

        background: none;
      }
    }

    &-label {
      color: #e2e3e4;
    }
  }

  .container-input:not(:placeholder-shown) {
    border: 2px solid #e2e3e4;
    color: #e2e3e4;
    background: none;
  }

  & .container-input:focus ~ .container-label,
  .container-input:not(:placeholder-shown).container-input:not(:focus) ~ .container-label {
    top: -6px;
    color: #e2e3e4;
    background: #1b1f27;
    font-size: 11px;
  }

}

@media screen and (min-width: 378px) and (max-width: 767px) {
  .container-input{
    min-width: 79vw;
  }
}
