<ng-container *ngIf="control">
  <div class="container" [formGroup]="control">

    <input
      matInput
      [attr.disabled]="control.get('dueDate')?.valid && !itemId"
      [matDatepicker]="picker"
      class="container-input"
      id="date"
      placeholder="(MM/DD/YYYY)"
      formControlName="dueDate" />
    <mat-datepicker-toggle
      matIconSuffix
      [for]="picker"
      class="container-picker"
      [disabled]="control.get('dueDate')?.value && !itemId"></mat-datepicker-toggle>
    <mat-datepicker #picker ></mat-datepicker>
    <label for="date" class="container-label">Choose a date</label>
  </div>
</ng-container>
