.item {
  width: 100%;
  display: flex;
  align-items: start;

  &-content {
    min-width: 508px;

    &-text {
      padding-left: 10px;

      &-title {
        font-weight: 500;
        font-size: 20px;
        color: #1f2020;
      }

      &-description {
        margin-top: 8px;
        font-size: 14px;
        font-weight: 500;
        color: #666666;
      }
    }

    &-devider {
      margin-top: 15px;
      border-bottom: 1px solid #e1e6ef;
    }

    &-info {
      margin-top: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-date {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 12px;
        color: #666666;

        span {
          font-weight: 700;
          color: #212121;
        }
      }

      &-tags {
        display: flex;

        &__component {
          &:not(:first-child) {
            margin-left: 5px;
          }

          font-weight: 700;
          font-size: 12px;
          color: #212121;
          padding: 5px;
          border: 2px solid #212121;
          border-radius: 4px;
        }
      }
    }
  }

  &-completed {
    .item-content-text-title {
      color: #666666;
      text-decoration: line-through;
    }

    .item-content-text-description {
      display: none;
    }
  }
}
