.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;

  &__component {
    padding: 13px 55px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 16px;
  }
}

.submit-button {
  background: #15c771;
  color: #212121;
}

.decline-button {
  cursor: pointer;
  color: #9e9e9e;
  border: 1px solid #9e9e9e;
}
@media screen and (min-width: 378px) and (max-width: 767px) {
  .buttons-container__component {
    padding: 13px 30px;
  }
  .buttons-container{
    margin-top: 40%;
  }
}
