/* You can add global styles to this file, and also import other style files */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
}

table {
  background-color: #FBFCFD;
  padding: 16px;
  border-radius: 16px;
  width: 100%;
}

thead {
  font-weight: bold;
  font-size: 20px;
}

td, th {
  text-align: center;
  padding-right: 12px;
}

div[id="theader"] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ebebeb;
}

