@use './src/app/style/colors' as c;
@use './src/app/style/typography' as t;
.new-item-section {
  &-button {
    display: flex;
    align-items: center;

    &-title {
      margin-left: 16px;
      font-weight: t.text-weight(bolder);
      font-size: t.text(m);
      color: c.colors(font);
    }
  }
}
