.calendar {
  background-color: #ffffff;
  padding: 30px 24px;
  border-radius: 12px;
  &-divider {
    margin-top: 24px;
  }
}

.calendar-dark {
  background-color: #1b1f27;

  & .calendar-divider {
    border-top-color: white;
  }
}

@media screen and (max-width: 1350px) {
  .calendar {
    display: none;
  }
}
