<ng-container *ngIf="listObs | async as list">
  <div class="current-list">
    <div class="current-list-info">
      <div class="current-list-color" [ngStyle]="{ 'background-color': list.color }"></div>
      <p class="current-list-title">{{ list.title }}</p>
      <div class="current-list-amount">(<app-tasks-amount [list]="list"></app-tasks-amount>)</div>
    </div>

    <mat-divider style="margin-top: 25px"></mat-divider>
  </div>
  <div class="list-section" [ngClass]="{ 'list-section-dark': themeService.isDark }">
    <div class="list-section-title">
      <h2>{{ list.activeLabel }}</h2>
      <ng-container *ngIf="!(list.id === 'today' || list.id === 'tomorrow' || list.id === 'someday')">
        <app-edit-label [listTitle]="list.title" [id]="list.id" type="list" [labelType]="labelTypes.activeLabel"></app-edit-label>
      </ng-container>
    </div>
    <div class="list-section-content">
      <ul class="list-section-content-list">
        <li
          *ngFor="let task of activeTasksObs | async"
          class="list-section-content-list__component"
          (click)="setTaskId(task.id)">
          <app-list-task [task]="task" [taskId]="taskId"></app-list-task>
        </li>
      </ul>
      <div class="new-tasks-section">
        <app-add-task-button></app-add-task-button>
      </div>
    </div>
  </div>
  <ng-container *ngIf="completedTasksObs | async as completedTasks">
    <div
      class="completed-tasks list-section"
      *ngIf="completedTasks.length"
      [ngClass]="{ 'list-section-dark': themeService.isDark }">
      <div class="list-section-title">
        <h2>{{ list.completeLabel }}</h2>
        <ng-container *ngIf="!(list.id === 'today' || list.id === 'tomorrow' || list.id === 'someday')">
          <app-edit-label [listTitle]="list.title" [id]="list.id" type="list" [labelType]="labelTypes.completeLabel"></app-edit-label>
        </ng-container>
      </div>
      <div class="list-section-content">
        <ul class="list-section-content-list">
          <li *ngFor="let task of completedTasks" class="list-section-content-list__component">
            <app-list-task [task]="task"></app-list-task>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
</ng-container>
