<ng-container *ngIf="{list: listObs | async, activeTasks: activeTasksObs | async, completedTask: completedTasksObs | async} as collection">
  <ng-container *ngIf="collection.list as list">
    <div class="current-list">
      <div class="current-list-info">
        <div class="current-list-info-container">
          <div class="current-list-color" [ngStyle]="{ 'background-color': list.color }"></div>
          <p class="current-list-title">{{ list.title }}</p>
          <div class="current-list-amount">
            (
            <app-tasks-amount [list]="list"></app-tasks-amount>
            )
          </div>
        </div>
        <app-edit-item-info [id]="list.id" type="list"></app-edit-item-info>
      </div>

      <mat-divider style="margin-top: 25px"></mat-divider>
    </div>
    <div class="list-section" [ngClass]="{ 'list-section-dark': themeService.isDark }">
      <div class="list-section-title">
        <h2>{{ list.activeLabel }}</h2>
        <app-edit-label [listId]="list.id" labelType="active"></app-edit-label>
      </div>
      <div *ngIf="collection.activeTasks as activeTasks" class="list-section-content">
        <ng-container *ngIf="activeTasks.length">
          <ul class="list-section-content-list">
            <li
              *ngFor="let task of activeTasks"
              class="list-section-content-list__component"
              (click)="setTaskId(task.id)">
              <app-list-task [task]="task" [taskId]="taskId"></app-list-task>
            </li>
          </ul>
        </ng-container>
        <div class="new-tasks-section">
          <app-add-task-button></app-add-task-button>
        </div>
      </div>
    </div>

    <ng-container *ngIf="collection.completedTask as completedTasks">
      <ng-container *ngIf="completedTasks.length">
        <div class="completed-tasks list-section" [ngClass]="{ 'list-section-dark': themeService.isDark }">
          <div class="list-section-title">
            <h2>{{ list.completeLabel }}</h2>
            <app-edit-label [listId]="list.id" labelType="complete"></app-edit-label>
          </div>
          <div class="list-section-content">
            <ul class="list-section-content-list">
              <li *ngFor="let task of completedTasks" class="list-section-content-list__component">
                <app-list-task [task]="task"></app-list-task>
              </li>
            </ul>
          </div>
        </div>
      </ng-container>

    </ng-container>
  </ng-container>

</ng-container>
