@use '../../app.component';
@use '../../style/colors' as c;
@use '../../style/typography' as t;
@use '../../style/sizes' as s;

.current-list {
  display: none;
}

.list-section {
  @include app.flex-column();
  align-items: flex-start;

  &-title {
    width: s.size(full);
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-break: break-word;

    & h2 {
      font-size: t.text(xl);
      color: c.colors(font-accent);
      font-weight: t.text-weight(bold);
    }
  }

  &-content {
    min-width: 100%;
    margin-top: 16px;
    background-color: c.colors(bg-c);
    padding: 37px 28px;
    border-radius: 12px;

    &-list {
      &__component {
        &:last-child {
          margin-bottom: 36px;
        }
      }
    }
  }
}

.devider {
  margin-top: 36px;
}

.details-button {
  padding: 10px 8px 14px;
  background: c.colors(bg-c);
  border-radius: 100px;
}

.new-tasks-section {
  padding-left: 16px;
}

.completed-tasks {
  margin-top: 56px;
}

.list-section-dark {
  & .list-section {
    &-title h2 {
      color: c.colors(font, true);
    }

    &-content {
      background-color: c.colors(bg-c, true);
      color: c.colors(font, true);
    }
  }
}

@media screen and (min-width: 378px) and (max-width: 768px) {
  .list-section-content {
    min-width: s.size(full);
  }
  .list-section-title {
    margin-top: 27px;
  }
  .current-list {
    display: flex;
    flex-direction: column;

    &-color {
      width: 16px;
      height: 16px;
      border-radius: 4px;
    }

    &-title {
      margin-left: 16px;
      font-weight: bold;
    }

    &-amount {
      margin-left: 6px;
      display: flex;
      font-weight: bold;
    }

    &-info {
      display: grid;
      grid-template-columns: 1fr 36px;

      &-container {
        display: flex;
        align-items: center;
      }
    }
  }

  .list-section-title {
    h2 {
      font-size: 28px;
    }
  }
}

@media screen and (min-width: 378px) and (max-width: 500px) {
  .list-section-content {
    padding: 37px 8px;
  }
}
